html[data-theme='light'] {
    --lightblue: rgb(239, 241, 250);
    --darkblue: rgb(7, 45, 100);
    --background-image: radial-gradient(circle at center, rgb(255, 255, 255), rgb(230, 230, 230));
    --background-image-contrast: radial-gradient(circle at center, rgb(12, 50, 115), rgb(7, 45, 100),  rgb(3, 30, 70));
    --background-image-grey:radial-gradient(circle at center, lightgrey, grey);
    --grey: grey;
    --border: rgb(7, 45, 100);
--border: rgb(255, 255, 255);
}

html[data-theme='dark'] {
    --lightblue: rgb(7, 45, 100);
    --darkblue: rgb(239, 241, 250);
    --background-image: radial-gradient(circle at center, rgb(12, 50, 115), rgb(7, 45, 100),  rgb(3, 30, 70));
    --background-image-contrast: radial-gradient(circle at center, rgb(255, 255, 255), rgb(230, 230, 230));
    --background-image-grey:radial-gradient(circle at center, lightgrey, grey);
    --grey: lightgrey;
    --border: rgb(239, 241, 250);
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-image: var(--background-image);
    font-family: 'Bubblegum Sans', cursive;
    font-family: 'Boogaloo', cursive;
    letter-spacing: 0.5px;
    position: relative;
}

/* DARK THEME*/

#dark-mode-box{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
    height: 60px;
}

#dark-mode-box p{
    font-size: 20px;
    color: var(--darkblue);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--darkblue);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
    background-color: var(--lightblue);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* CLASES */

.flex-row-center{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.flex-col-center{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.flex-col-start{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.flex-col-space{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.button{
    border-radius: 15px;
    width: 100%;
    font-size: 15px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover{
    transform: scale(1.05);
}

.blue{
    background-image: var(--background-image-contrast);
    color: var(--lightblue);
    border: 1px solid var(--lightblue);
    font-family: 'Bubblegum Sans', cursive;
    letter-spacing: 0.5px;
}

.grey{
    background-color: transparent;
    color: var(--darkblue);
    border: 1px solid var(--darkblue);
    font-family: 'Bubblegum Sans', cursive;
    letter-spacing: 0.5px;
}

.underscore{
    margin: 0 5px;
    height: 40px;
    width: 40px;
    border-bottom: 4px solid var(--darkblue);
    font-size: 30px;
    color: var(--grey)
}

.keyboard-letter{
    margin: 5px 5px;
    height: 33px;
    width: 35px;
    border-radius: 5px;
    background-image: var(--background-image-contrast);
    color: var(--lightblue);
    cursor: pointer;
    transition: 0.1s;
}

.keyboard-letter:hover{
    background: transparent;
    color: var(--darkblue);
    box-shadow: inset 0px 0px 0px 1px var(--darkblue);
}

.pressed{
    opacity: 0.5;
}

.pressed:hover{
    background-image: var(--background-image-contrast);
    color: var(--lightblue);
    opacity: 0.5;
}

/* ID */

header{
    height: 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#header-div{
    width: 800px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
}

#logo-box{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
    height: 60px;
}

main{
    height: 80%;
    z-index: 1;
}

#begin-section{
    display: flex;
}

.screen-one{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-image: var(--background-image);
    z-index: 999;
    animation: screen-out;
    animation-duration: 1s;
    animation-timing-function: linear
}

@keyframes screen-out{
    0% {width: 100%; height: 100%; opacity: 1;}
    100% {width: 100%; height: 100%; opacity: 0;}
}

.screen-in{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0%;
    background-image: var(--background-image);
    z-index: 999;
    animation: screen-in;
    animation-duration: 1s;
    animation-timing-function: linear
}

@keyframes screen-in{
    0% {width: 100%; height: 100%; opacity: 0;}
    50% {width: 100%; height: 100%; opacity: 1;}
    0% {width: 100%; height: 100%; opacity: 0;}
}

#new-word-section{
    display: none;
    width: 250px;
    height: 50%;
}

#game-section{
    display: none;
    width: 650;
    height: 85%;
    position: relative;
}

#final-msg-box{
    position: absolute;
    padding: 30px 0px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    display: none;
    transform: rotate(-10deg);
    text-shadow:
        -3px 3px 0 var(--border),
        3px 3px 0 var(--border),
        3px -3px 0 var(--border),
        -3px -3px 0 var(--border),
        0 0 20px grey
}

.green{
    color: rgb(50, 200, 50);
    top:25%;
    font-size: 77px;
    animation: blinding;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

.red{
    color: rgb(175, 25, 25);
    top: 10%;
    font-size: 100px;
    animation: blinding;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes blinding{
    0% { opacity: 1;}
    50% { opacity: 0.5;}
    100% { opacity: 1;}
}

#secret-word-box{
    padding: 10px 0px;
    width: 300px;
    border-radius: 5%;
    text-align: center;
    font-size: 15px;
    display: none;
    background-image: linear-gradient(to left, transparent, grey 20%,  grey 80%, transparent);
    color: white;
}

#hanged-box{
    width: 350px;
    height: 325px;
    margin-bottom: 5%;
    position: relative;
}

#hanged-box canvas{
    width: 100%;
    height: 100%;
}

#right-words-box{
    width: 100%;
    height: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#wrong-words-box{
    width: 100%;
    height: 16px;
    margin: 10px;
    color: var(--grey);
    text-decoration: line-through
}

#game-buttons-box{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin: 5px;
}

/* NEW WORD */

#new-word-input{
    border: none;
    outline: none;
    resize: none;
    font-family: 'Bubblegum Sans', cursive;
    letter-spacing: 0.5px;
    background: transparent;
    color: var(--darkblue);
    font-size: 30px;
}

#new-word-input::placeholder{
    font-family: 'Bubblegum Sans', cursive;
    letter-spacing: 0.5px;
    color: var(--grey);
    background: transparent;
}

#warning p{
    color: var(--darkblue);
    margin-left: 10px;
}

#confirm-new-word{
    position: absolute;
    text-align: center;
    box-shadow: 0 0 10px grey;
    border-radius: 5px;
    color: white;
}

.color-green{
    width: 250px;
    top: -52px;
    padding: 10px;
    background-color: rgb(75, 175, 75);
    animation: appears;
    animation-duration: 4s;
    animation-timing-function: linear
}

.color-red{
    width: 250px;
    top: -52px;
    padding: 10px;
    background-color: rgba(175, 75, 75);
    animation: appears;
    animation-duration: 4s;
    animation-timing-function: linear
}

@keyframes appears {
    0%{top: -52px}
    10%{top: 5px}
    90%{top: 5px}
    100%{ top: -52px;}
}


/* FOOTER */

footer{
    display: flex;
    flex-flow: row wrap;
    height: 10%;
    background-image: var(--background-image-contrast);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: var(--lightblue);
}

footer p{
    text-align: center;
    margin-top: 5px;
}

footer ul{
    display: flex;
    flex-flow: row nowrap;
}

footer li{
    margin: 10px 10px 0px 10px;
    color: var(--lightblue);
    transition: 0.2s;
}

footer li:hover{
    transform: scale(1.25);
}

footer li a:link {
    color: var(--lightblue);
}
footer li a:visited {
    color: var(--lightblue);
}
footer li a:hover {
    color: var(--lightblue);
}
footer li a:active {
    color: var(--lightblue);
}

/* SACAR FOOTER SOLAMENTE EN GAME SECTION (JS) cuando height < 570px*/
.main-phone{
    height: 80%;
}

.footer-phone{
    display: none;
}

/* MEDIA QUERYS*/

@media (max-width: 650px){
    #game-buttons-box{
        width: 310px;
    }

    #game-section{
        display: none;
        width: 320px;
        height: 85%;
    }

    #hanged-box{
        width: 250px;
        height: 225px;
    }

    #final-msg-box{
        width: cal(250px(175px/2));
        height: 175px;
        top: 0px;
    }
    .green{
        font-size: 55px;
    }
    .red{
        font-size: 70px;
    }

    .keyboard-letter{
        width: 23px;
        margin: 3px;
    }

    .button{
        margin: 5px 5px;
    }
    
    footer p{
        width: 250px;
    }
}

@media (max-height: 700px){   
    header{
        height: 15%;
    }

    #logo-box{
        width: 55px;
    }

    #dark-mode-box{
        width: 100px;
    }
    
    main{
        height: 70%;
    }

    #game-section{
        height: 530px;
    }

    #hanged-box{
        width: 175px;
        height: 150px;
    }

    #hanged-box canvas{
        width: 100%;
        height: 100%;
    }

    #right-words-box{
        width: 320px;
        height: 35px;
    }

    .underscore{
        width: 20px;
        height: 30px;
    }

    .keyboard-letter{
        width: 23px;
        margin: 3px;
    }

    .button{
        padding: 8px;
    }

    #final-msg-box{
        width: cal(250px(175px/2));
        height: 175px;

        top: -50px;
    }
    .green{
        font-size: 38px;
    }
    .red{
        font-size: 50px;
    }

    footer{
        height: 15%;
        font-size: 14px;
        float:inherit;
    }

    footer p {
        width: 225px;
    }
}